$utilities: (
  "font-size": (
    "prefix": "fs",
    "values": (
      "sm": $fs-sm,
      "md": $fs-md,
      "lg": $fs-lg,
      "xl": $fs-xl,
      "xxl": $fs-xxl,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2.5rem,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2.5rem,
    ),
  ),
  "margin-left": (
    "prefix": "ms",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2.5rem,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2.5rem,
    ),
  ),
  "margin-right": (
    "prefix": "me",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2.5rem,
    ),
  ),
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2rem,
    ),
  ),
    "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2rem,
    ),
  ),
    "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": 1rem,
      "2": 1.5rem,
      "3": 2rem,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $valmap: map-get($map, "values");
  @each $k, $v in $valmap {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
} ;
